* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Inicio estilos menú de navegación*/




/*Fin estilos menú de navegación*/

/*Inicio estilos visión Dealers*/
.inicio {
    margin-top: 5.5rem;
    padding-top: 1.5rem;
}
.inicio__somos {
    padding: 1.5rem;
    margin: 1.5rem;
    text-align: center;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    color: #a28e58;
}

.inicio__somos h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
}

.inicio__somos p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

/*Fin estilos visión Dealers*/

/*Inicio estilos galería*/



.galeria-1 .container {
    padding: 1%;
    align-items: center;
    background-color: #212128;
    display: grid;
    gap: 2px;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 1;
    height: auto;
}
.galeria-1 .container img {
    width: 100%;
    height: 100%;
}
.galeria-1 .container img:hover { 
    filter: grayscale(1);
}
/*Fin estilos galería*/
/*Inicio estilos espirituosas*/
.espirituosas {
    margin: 10px;
    padding: 5px;
    height: auto;
    font-family: 'Lato', sans-serif;
    background-image: url(../dealers-drinks-images/entramado.jpg);
   }

.espirituosas h2 {
    margin: 15px 0;
    padding-top: 10px;
    color: #30333A;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: center;
}

.espirituosas p {
    margin: 10px;
    text-align: justify;
    color: #30333A;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
/*Fin estilos espirituosas*/
/*Inicio estilos galería*/
.galeria-2 .container {
    padding: 1%;
    align-items: center;
    background-color: #212128;
    display: grid;
    gap: 2px;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 1;
    height: auto;
}
.galeria-2 .container img {
    width: 100%;
    height: 100%;
}
.galeria-2 .container img:hover { 
    filter: grayscale(1);
}
/*Fin estilos galería*/
/*Inicio espirituosas historia*/
.espirituosas--historia {
    margin: 20px 15px 20px 15px;
    padding: 5px;
    height: auto;
    font-family: 'Lato', sans-serif;
    background-image: url(../dealers-drinks-images/entramado.jpg);
}
.espirituosas--historia h3 {
    margin: 10px 0;
    text-align: center;
    color: #30333A;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

.espirituosas--historia p {
    margin: 10px;
    color: #30333A;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}


/* este espacio es para darle forma a las listas*/




/*Inicio estilos footer*/
.piepag {
    overflow: hidden;
}
.piepag .container-fluid{
    height: 10rem;
    background-color: #212128;
    display: flex;
    flex-direction: row;
    color: #a28e58;
    justify-content: space-between;

}

.piepag .container-fluid .img-fluid {
    filter: opacity(70%);
}
.piepag-redes {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
}
.piepag-redes h4{
    padding-right: 1rem;
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    color: #a28e58;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase; 
    font-size: 1.5rem;
}
.bi-bi-facebook {
    padding-bottom: 0.5rem;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.bi-bi-instagram {
    padding-bottom: 0.5rem;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}
.bi-bi-whatsapp {
    padding-bottom: 0.5rem;
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}
/*Fin estilos footer*/





/*Inicio estilos recetas*/

.recetas h1 {
    margin: 15px;
    padding: 5%;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    text-align: center;
    align-items: center;
    height: 30vh;
    color: #a28e58;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}
.recetas h2 {
    font-weight: bold;
}
#tom-collins {
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1;
}
#tom-collins img {
    height: 100%;
    width: 100%;
    animation: backInDown;
    animation-duration: 2s;
}
#tom-collins :nth-child(1) {
    grid-column: 1/2;
    padding: 4%;
}
#tom-collins :nth-child(2) {
    grid-column: 2/3;
}
#tom-collins :nth-child(3) {
    grid-column: 3/4;
    margin: 10px;
    padding: 10%;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    color: #a28e58;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left
}
#negroni {
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1;
}
#negroni img {
    height: 100%;
    width: 100%;
    animation: backInDown;
    animation-duration: 2s;
}
#negroni :nth-child(1) {
    grid-column: 1/2;
    padding: 4%;
}
#negroni :nth-child(2) {
    grid-column: 2/3;
}
#negroni :nth-child(3) {
    grid-column: 3/4;
    margin: 10px;
    padding: 10%;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    color: #a28e58;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left
}
#voodoo {
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1;
}
#voodoo img {
    height: 100%;
    width: 100%;
    animation: backInDown;
    animation-duration: 2s;
}
#voodoo :nth-child(1) {
    grid-column: 1/2;
    padding: 4%;
}
#voodoo :nth-child(2) {
    grid-column: 2/3;
    overflow: hidden;
}
#voodoo :nth-child(3) {
    grid-column: 3/4;
    margin: 10px;
    padding: 10%;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    color: #a28e58;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left
}
#long-island {
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1;
}
#long-island img {
    height: 100%;
    width: 100%;
    animation: backInDown;
    animation-duration: 2s;
}
#long-island :nth-child(1) {
    grid-column: 1/2;
    padding: 4%;
}
#long-island :nth-child(2) {
    grid-column: 2/3;
}
#long-island :nth-child(3) {
    grid-column: 3/4;
    margin: 10px;
    padding: 10%;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    color: #a28e58;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left
}
#clarito {
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1;
}
#clarito img {
    height: 100%;
    width: 100%;
    animation: backInDown;
    animation-duration: 2s;
}
#clarito :nth-child(1) {
    grid-column: 1/2;
    padding: 4%;
}
#clarito :nth-child(2) {
    grid-column: 2/3;
}
#clarito :nth-child(3) {
    grid-column: 3/4;
    margin: 10px;
    padding: 10%;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    color: #a28e58;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left
}
#boulevardier {
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1;
}
#boulevardier img {
    height: 100%;
    width: 100%;
    animation: backInDown;
    animation-duration: 2s;
}
#boulevardier :nth-child(1) {
    grid-column: 1/2;
    padding: 4%;
}
#boulevardier :nth-child(2) {
    grid-column: 2/3;
}
#boulevardier :nth-child(3) {
    grid-column: 3/4;
    margin: 10px;
    padding: 10%;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    color: #a28e58;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left
}
#daiquiri {
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1;
}
#daiquiri img {
    height: 100%;
    width: 100%;
    animation: backInDown;
    animation-duration: 2s;
}
#daiquiri :nth-child(1) {
    grid-column: 1/2;
    padding: 4%;
}
#daiquiri :nth-child(2) {
    grid-column: 2/3;
}
#daiquiri :nth-child(3) {
    grid-column: 3/4;
    margin: 10px;
    padding: 10%;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    color: #a28e58;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left
}
#caipiroska {
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1;
}
#caipiroska img {
    height: 100%;
    width: 100%;
    animation: backInDown;
    animation-duration: 2s;
}
#caipiroska :nth-child(1) {
    grid-column: 1/2;
    padding: 4%;
}
#caipiroska :nth-child(2) {
    grid-column: 2/3;
}
#caipiroska :nth-child(3) {
    grid-column: 3/4;
    margin: 10px;
    padding: 10%;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    color: #a28e58;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left
}
.receta__footer {
    align-items: center;
    padding: 0.5rem;
}

.receta__footer img {
    width: 100%;
}

/*Fin estilos recetas*/

/*Inicio estilos historia*/
.historia {
    margin: 15px 30px 10px 30px;
    background-image: url(../dealers-drinks-images/el-dealer.jpeg);
    background-size: 100%;
    filter: opacity(80%);
    background-repeat: no-repeat;
    justify-content: center;
}

.historia h1 {
    margin: 25px auto;
    padding: 10px;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px lightgoldenrodyellow;
}

.historia p {
    margin: 15px 40px 15px 40px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: justify;
    font-weight: bold;
    line-height: 40px;
    text-shadow: 1px 1px 1px lightgoldenrodyellow;
}
.dealer--galeria {
    background-color: #212128;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    overflow: hidden;
}

.dealer--galeria img {
    width: 100%;
    height: 100%;
}

.dealer-1 {
    grid-column: 1 / 3;
    transition: all 4s;

}

.dealer-3 {
    grid-column: 3 / 9;
    transition: all 2s;
}

.dealer-6 {
    grid-column: 9 / 12;
    transition: all 4s;
}

.dealer--galeria .dealer-1:hover {
    transform: rotateY(360deg);
}

.dealer--galeria .dealer-3:hover {
    transform: scale(1.2);
}

.dealer--galeria .dealer-6:hover {
    transform: rotateY(360deg);
}
/*Fin estilos historia*/
/*Inicio estilos productos*/
.productos h1 {
    margin: 25px auto;
    height: 7rem;
    padding: 2rem;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    color: #a28e58;
    text-align: center;
    text-transform: uppercase;
 }
.productos-iconos {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
}
.productos-iconos img {
    height: 100%;
    width: 100%;
    filter: grayscale(0.4);
}
#whisky-lista {
    height: 4rem;
    margin: 1.5rem 5rem 0 5rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    background-color: #212128;
    color: #a28e58;
    text-align: center;
}
#whisky {
    padding-top: 0.25rem;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    gap: 0.5rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #212128;
    text-align: left;
    background-image: url(../dealers-drinks-images/entramado.jpg);
}
#whisky img {
    width: 100%;
    background-color: #212128;
}
#whisky h3 {
    margin-right: 3rem ;
    padding: 0.5rem;
    font-family: 'Lato', sans-serif;
    color: #a28e58;
    font-weight: bold;
}
#whisky ul {
    list-style-type: none;
    margin: 1rem;
}
#gin-lista {
    height: 4rem;
    margin: 0 5rem 0 5rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    background-color: #212128;
    color: #a28e58;
    text-align: center;
}
#gin {
    margin: 1rem;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    gap: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #212128;
    text-align: left;
    background-image: url(../dealers-drinks-images/entramado.jpg);
}
#gin img {
    padding-top: 1rem;
    width: 100%;
}
#gin ul {
    list-style-type: none;
    margin-left: 5rem;
}
#vodka-lista {
    height: 4rem;
    margin-top: 5rem;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    background-color: #212128;
    color: #a28e58;
    text-align: center;
}
#vodka {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    gap: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #212128;
    text-align: left;
    background-image: url(../dealers-drinks-images/entramado.jpg);
}
#vodka img {
    padding-top: 0.5rem;
    width: 100%;
}
#vodka ul {
    list-style-type: none;
    margin-left: 5rem;
  }
  #vodka ul li {
      padding: 0.3rem;
  }
  #ron-lista {
    height: 4rem;
    margin-top: 3rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    background-color: #212128;
    color: #a28e58;
    text-align: center;
}
#ron {
    height: 30rem;
    overflow: hidden;
    margin: 1rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #212128;
    text-align: left;
    background-image: url(../dealers-drinks-images/entramado.jpg);
}
#ron img {
    padding-top: 1rem;
    width: 100%;
}
#ron ul {
    padding-top: 8rem;
    list-style-type: none;
    margin-left: 5rem;
}
#ron ul li{
    padding: 1rem;
}
#varios-lista {
    height: 4rem;
    margin: 3rem 0 3rem 0;
    padding: 0.5rem;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    background-color: #212128;
    color: #a28e58;
    text-align: center;
}
#varios {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #212128;
    text-align: left;
    background-image: url(../dealers-drinks-images/entramado.jpg);
}
#varios img {
    padding-top: 0.5rem;
    width: 100%;
}
#varios ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style-type: none;
    margin-left: 5rem;
} 
#varios ul li {
    padding: 0.15rem;
}


/*Inicio estilos efemérides*/
.efemerides {
    background-image: url(../dealers-drinks-images/fechas-encabezado.jpg);
    height: 8rem;
    color: #212128;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.efemerides h1 {
    padding-top: 1rem;
    font-size: 3rem;
    text-transform: uppercase;
}
#fechas--importantes {
    font-size: 1.5rem;
    padding-bottom: 3rem;
}
.fechas {
    font-family: 'Lato', sans-serif;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    text-align: center;
    padding-bottom: 2rem;
}
.fechas h2 {
    height: 2.5rem;
    font-size: 2rem;
    color: #a28e58;
    background-color: #212128;
    text-align: center;
    font-weight: bolder;
}
.fechas h3 {
    padding: 0.5rem;
    font-size: 1.5rem;
}
.fechas p{
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}
.piepag__fechas .container{
    height: 10rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
    align-items: center;
    overflow: hidden;
    background-color: #212128;
}
.piepag__fechas .container h3 {
    height: auto;
    text-transform: uppercase;
    color: #a28e58;
    font-weight: bolder;
}
/*Inicio estilos efemérides*/