* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Inicio estilos menú de navegación*/
.encabezado {
    margin: -20px auto 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    background-image: url(../dealers-drinks-images/encabezado-blanco.png);
    height: 40vh;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    align-items: flex-end;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 800px;
    background-color: #30333A;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    list-style: none;
}


.menu a {
    margin: 5px 20px;
    background-color: #30333A;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    justify-content: space-evenly;
}
.menu a:hover {
    filter: invert(95%);
}

/*Fin estilos menú de navegación*/

/*Inicio estilos visión Dealers*/

.inicio__somos {
    padding: 20px;
    margin: 20px;
    text-align: center;
    align-items: flex-end;
}

.inicio__somos h1 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #30333A;
    width: 100%;
    align-items: flex-end;
}

.inicio__somos p {
    color: #30333A;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 100%;
    align-items: left;
}

/*Fin estilos visión Dealers*/

/*Inicio estilos galería*/
.inicio--galeria {
    background-color: white;
    margin: 15px auto;
    display: grid;
    grid-template-areas:
        "barra whisky cocteleria"
        "barra vermut cocteleria"
        "licor vermut negroni";
}

.div1 {
    grid-area: cocteleria;
}

.div2 {
    grid-area: whisky;
}

.div3 {
    grid-area: vermut;
}

.div4 {
    grid-area: negroni;
}

.div5 {
    grid-area: licor;
}

.div6 {
    grid-area: barra;
}

.div1, .div2, .div3, .div4, .div5, .div6 {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.div1:hover {
    filter: grayscale(1);
}
.div2:hover {
    filter: grayscale(1);
}
.div3:hover {
    filter: grayscale(1);
}
.div4:hover {
    filter: grayscale(1);
}
.div5:hover {
    filter: grayscale(1);
}
.div6:hover {
    filter: grayscale(1);
}


/*Fin estilos galería*/
/*Inicio estilos espirituosas*/
.inicio--galeria1 {
    padding: 1%;
    align-items: center;
    background-color: #212128;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat (3 1fr);
    grid-template-rows: 1;
    height: auto;
}
.inicio--galeria1 img {
    width: 100%;
    height: 100%;
}

.inicio--galeria1 :nth-child(1) {
    grid-column: 1 / 2;
}
.inicio--galeria1 :nth-child(2) {
    grid-column: 2 / 3;
}
.inicio--galeria1 :nth-child(3) {
    grid-column: 3 / 4;
}
.espirituosas {
    margin: 10px;
    padding: 5px;
    height: auto;
    font-family: 'Lato', sans-serif;
    background-image: url(../dealers-drinks-images/entramado.jpg);
   }

.espirituosas h2 {
    margin: 15px 0;
    padding-top: 10px;
    color: #30333A;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: center;
}

.espirituosas p {
    margin: 10px;
    text-align: justify;
    color: #30333A;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.inicio--galeria2 {
    padding: 1%;
    align-items: center;
    background-color: #212128;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat (3 1fr);
    grid-template-rows: 1;
    height: auto;
}
.inicio--galeria2 img {
    width: 100%;
    height: 100%;
}

.inicio--galeria2 :nth-child(1) {
    grid-column: 1 / 2;
}
.inicio--galeria2 :nth-child(2) {
    grid-column: 2 / 3;
}
.inicio--galeria2 :nth-child(3) {
    grid-column: 3 / 4;
}
.espirituosas--historia {
    margin: 20px 15px 20px 15px;
    padding: 5px;
    height: auto;
    font-family: 'Lato', sans-serif;
    background-image: url(../dealers-drinks-images/entramado.jpg);
}
.espirituosas--historia h3 {
    margin: 10px 0;
    text-align: center;
    color: #30333A;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

.espirituosas--historia p {
    margin: 10px;
    color: #30333A;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}


/*Fin estilos espirituosas*/



/* este espacio es para darle forma a las listas*/




/*Inicio estilos footer*/
.piepag {
    margin: 20px 0 0 0;
    background-color: #212128;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #a28e58;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.piepag img{
    filter: opacity(70%);
    }



/*Fin estilos footer*/





/*Inicio estilos recetas*/

.recetas h1 {
    margin: 15px;
    padding: 5%;
    background-image: url(../dealers-drinks-images/entramado.jpg);
    text-align: center;
    align-items: center;
    height: 30vh;
    color: #a28e58;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}
.tom-collins {
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1;
}
.tom-collins img {
    height: 100%;
    width: 100%;
    animation: backInDown;
    animation-duration: 2s;
}
.tom-collins :nth-child(1) {
    grid-column: 1/2;
    padding: 4%;
}
.tom-collins :nth-child(2) {
    grid-column: 2/3;
}
.tom-collins :nth-child(3) {
    grid-column: 3/4;
    margin: 10px;
    padding: 10%;
    color: #30333A;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left
}


/*Fin estilos recetas*/

/*Inicio estilos historia*/
.historia {
    margin: 15px 30px 10px 30px;
    background-image: url(../dealers-drinks-images/el-dealer.jpeg);
    background-size: 100%;
    filter: opacity(80%);
    background-repeat: no-repeat;
    justify-content: center;
}

.historia h1 {
    margin: 25px auto;
    padding: 10px;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px lightgoldenrodyellow;
}

.historia p {
    margin: 15px 40px 15px 40px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: justify;
    font-weight: bold;
    line-height: 40px;
    text-shadow: 1px 1px 1px lightgoldenrodyellow;
}
.dealer--galeria {
    background-color: #212128;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    overflow: hidden;
}

.dealer--galeria img {
    width: 100%;
    height: 100%;
}

.dealer-1 {
    grid-column: 1 / 3;
    transition: all 4s;

}

.dealer-3 {
    grid-column: 3 / 9;
    transition: all 2s;
}

.dealer-6 {
    grid-column: 9 / 12;
    transition: all 4s;
}

.dealer--galeria .dealer-1:hover {
    transform: rotateY(360deg);
}

.dealer--galeria .dealer-3:hover {
    transform: scale(1.2);
}

.dealer--galeria .dealer-6:hover {
    transform: rotateY(360deg);
}
/*Fin estilos historia*/