@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Inicio estilos menú de navegación*/
.encabezado-fechas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #FFFFFF;
  background-image: url(../dealers-drinks-images/encabezado-blanco.png);
  height: 10rem;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.encabezado-fechas nav {
  margin-top: 9rem;
  font-family: 'Lato', sans-serif;
  color: #212128;
  text-decoration: none;
}

.encabezado-fechas nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #212128;
}

.encabezado-fechas nav ul li {
  list-style-type: none;
}

.encabezado-fechas nav ul li a {
  margin: 0 3rem 0 3rem;
  text-decoration: none;
  color: #ffffff;
}

/*Fin estilos menú de navegación*/
/*Inicio estilos visión Dealers*/
.inicio__somos {
  padding: 20px;
  margin: 20px;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.inicio__somos h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  color: #30333A;
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.inicio__somos p {
  color: #30333A;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  width: 100%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

/*Fin estilos visión Dealers*/
/*Inicio estilos galería1*/
/*Fin estilos galería1*/
/*Inicio estilos espirituosas*/
.espirituosas {
  margin: 10px;
  padding: 5px;
  height: auto;
  font-family: 'Lato', sans-serif;
  background-image: url(../dealers-drinks-images/entramado.jpg);
}

.espirituosas h2 {
  margin: 15px 0;
  padding-top: 10px;
  color: #30333A;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  text-align: center;
}

.espirituosas p {
  margin: 10px;
  text-align: justify;
  color: #30333A;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.galeria2 {
  padding: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212128;
  display: -ms-grid;
  display: grid;
  gap: 2px;
  -ms-grid-columns: repeat 3 1fr;
      grid-template-columns: repeat 3 1fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  height: auto;
}

.galeria2 .container img {
  width: 100%;
}

.galeria2 .container img img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.espirituosas--historia {
  margin: 20px 15px 20px 15px;
  padding: 5px;
  height: auto;
  font-family: 'Lato', sans-serif;
  background-image: url(../dealers-drinks-images/entramado.jpg);
}

.espirituosas--historia h3 {
  margin: 10px 0;
  text-align: center;
  color: #30333A;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

.espirituosas--historia p {
  margin: 10px;
  color: #30333A;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}

/*Fin estilos espirituosas*/
/* este espacio es para darle forma a las listas*/
/*Inicio estilos footer*/
.piepag {
  background-color: #212128;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #a28e58;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.piepag-logo {
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
  width: 25%;
  padding: 1rem;
}

.piepag-redes {
  padding-right: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 2fr 2fr 1fr 1fr;
      grid-template-rows: 2fr 2fr 1fr 1fr;
}

.piepag-redes h4 {
  padding-right: 1rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  color: #a28e58;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.bi-bi-facebook {
  padding-bottom: 0.5rem;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.bi-bi-instagram {
  padding-bottom: 0.5rem;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

/*Fin estilos footer*/
/*Inicio estilos recetas*/
.recetas h1 {
  margin: 15px;
  padding: 5%;
  background-image: url(../dealers-drinks-images/entramado.jpg);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  color: #a28e58;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}

.tom-collins {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.tom-collins img {
  height: 100%;
  width: 100%;
  -webkit-animation: backInDown;
          animation: backInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.tom-collins :nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 4%;
}

.tom-collins :nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.tom-collins :nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin: 10px;
  padding: 10%;
  background-image: url(../dealers-drinks-images/entramado.jpg);
  color: #a28e58;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.negroni {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.negroni img {
  height: 100%;
  width: 100%;
  -webkit-animation: backInDown;
          animation: backInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.negroni :nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 4%;
}

.negroni :nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.negroni :nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin: 10px;
  padding: 10%;
  background-image: url(../dealers-drinks-images/entramado.jpg);
  color: #a28e58;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.voodoo {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.voodoo img {
  height: 100%;
  width: 100%;
  -webkit-animation: backInDown;
          animation: backInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.voodoo :nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 4%;
}

.voodoo :nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  overflow: hidden;
}

.voodoo :nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin: 10px;
  padding: 10%;
  background-image: url(../dealers-drinks-images/entramado.jpg);
  color: #a28e58;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.long-island {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.long-island img {
  height: 100%;
  width: 100%;
  -webkit-animation: backInDown;
          animation: backInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.long-island :nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 4%;
}

.long-island :nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.long-island :nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin: 10px;
  padding: 10%;
  background-image: url(../dealers-drinks-images/entramado.jpg);
  color: #a28e58;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.clarito {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.clarito img {
  height: 100%;
  width: 100%;
  -webkit-animation: backInDown;
          animation: backInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.clarito :nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 4%;
}

.clarito :nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.clarito :nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin: 10px;
  padding: 10%;
  background-image: url(../dealers-drinks-images/entramado.jpg);
  color: #a28e58;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.boulevardier {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.boulevardier img {
  height: 100%;
  width: 100%;
  -webkit-animation: backInDown;
          animation: backInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.boulevardier :nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 4%;
}

.boulevardier :nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.boulevardier :nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin: 10px;
  padding: 10%;
  background-image: url(../dealers-drinks-images/entramado.jpg);
  color: #a28e58;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.daiquiri {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.daiquiri img {
  height: 100%;
  width: 100%;
  -webkit-animation: backInDown;
          animation: backInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.daiquiri :nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 4%;
}

.daiquiri :nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.daiquiri :nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin: 10px;
  padding: 10%;
  background-image: url(../dealers-drinks-images/entramado.jpg);
  color: #a28e58;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.caipiroska {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.caipiroska img {
  height: 100%;
  width: 100%;
  -webkit-animation: backInDown;
          animation: backInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.caipiroska :nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 4%;
}

.caipiroska :nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.caipiroska :nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin: 10px;
  padding: 10%;
  background-image: url(../dealers-drinks-images/entramado.jpg);
  color: #a28e58;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

/*Fin estilos recetas*/
/*Inicio estilos historia*/
.historia {
  margin: 15px 30px 10px 30px;
  background-image: url(../dealers-drinks-images/el-dealer.jpeg);
  background-size: 100%;
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.historia h1 {
  margin: 25px auto;
  padding: 10px;
  font-size: 32px;
  font-family: 'Lato', sans-serif;
  color: black;
  text-align: center;
  text-shadow: 1px 1px 1px lightgoldenrodyellow;
}

.historia p {
  margin: 15px 40px 15px 40px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: black;
  text-align: justify;
  font-weight: bold;
  line-height: 40px;
  text-shadow: 1px 1px 1px lightgoldenrodyellow;
}

.dealer--galeria {
  background-color: #212128;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  overflow: hidden;
}

.dealer--galeria img {
  width: 100%;
  height: 100%;
}

.dealer-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.dealer-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3 / 9;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.dealer-6 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9 / 12;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.dealer--galeria .dealer-1:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.dealer--galeria .dealer-3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.dealer--galeria .dealer-6:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

/*Fin estilos historia*/
/*Inicio estilos productos*/
.productos h1 {
  margin: 25px auto;
  height: 7rem;
  padding: 2rem;
  font-size: 32px;
  font-family: 'Lato', sans-serif;
  background-image: url(../dealers-drinks-images/entramado.jpg);
  color: #a28e58;
  text-align: center;
  text-transform: uppercase;
}

.productos-iconos {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.productos-iconos img {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(0.4);
          filter: grayscale(0.4);
}

.whisky-lista {
  height: 4rem;
  margin: 1.5rem 5rem 0 5rem;
  padding: 0.5rem;
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  background-color: #212128;
  color: #a28e58;
  text-align: center;
}

#whisky {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 3fr 2fr;
      grid-template-columns: 2fr 3fr 3fr 2fr;
  gap: 0.5rem;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #212128;
  text-align: left;
  background-image: url(../dealers-drinks-images/entramado.jpg);
}

#whisky img {
  width: 100%;
  margin-top: 3rem;
  background-color: #212128;
}

#whisky h3 {
  margin-right: 3rem;
  padding: 0.5rem;
  font-family: 'Lato', sans-serif;
  color: #a28e58;
  font-weight: bold;
}

#whisky ul {
  list-style-type: none;
  margin: 1rem;
}

.gin-lista {
  height: 4rem;
  margin: 0 5rem 0 5rem;
  padding: 0.5rem;
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  background-color: #212128;
  color: #a28e58;
  text-align: center;
}

#gin {
  margin: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 3fr;
      grid-template-columns: 2fr 3fr 3fr;
  gap: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #212128;
  text-align: left;
  background-image: url(../dealers-drinks-images/entramado.jpg);
}

#gin img {
  width: 100%;
}

#gin ul {
  list-style-type: none;
  margin-left: 5rem;
}

/*inicio estilo fechas*/
.efemerides {
  background-image: url(../dealers-drinks-images/entramado.jpg);
  margin-top: 2rem;
  height: 5rem;
}

.efemerides h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  color: #212128;
  text-align: center;
}

.efemerides p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #212128;
  text-align: center;
}

.fechas {
  background-image: url(../dealers-drinks-images/entramado.jpg);
  font-family: 'Lato', sans-serif;
  color: #212128;
}

.fechas h2 {
  margin: 00.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #a28e58;
}

.fechas h3 {
  padding-left: 1.5rem;
  color: #a28e58;
  background-color: #212128;
}

.fechas p {
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  color: #212128;
}
/*# sourceMappingURL=main.css.map */